*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212;
}
.clock{
    width: 250px;
    height: 250px;
    border: 10px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}
.clock::before{
    content:'';
    position: absolute;
    display: block;
    bottom: 50%;
    width: 15px;
    height: 110px;
    border-radius: 50px;
    transform-origin: bottom center;
    background-color: #fff;
    animation:animate 2s linear infinite;
}
@keyframes animate {
    100%{
        transform: rotate(360deg);
    }
}
